[Unit]
Description=Lancement dynamique des noeuds ROS2
After=graphical-session.target

[Service]
ExecStart=/home/opossum/robot_ws/src/utils/script_service.sh
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/opossum/.Xauthority
WorkingDirectory=/home/opossum/robot_ws
StandardOutput=journal
Restart=on-failure
RestartSec=3
TimeoutStopSec=2

[Install]
# default.target est le standard pour lancer un user service au démarrage de la session
WantedBy=default.target